{% extends "base.html" %}
{% block title %}Registro Restaurante{% endblock title %}
{%block body%}
<div class="w-100 h-100 text-left p-0">
    <h4 class="display-4 m-0 mt-4">Registrate a Telemenú</h4>
    <form action="/restaurant/logup" method="post">
        <input name="restaurant_name" type="text" class="form-control mb-2" required placeholder="Nombre Restaurante">
        {% if email_error %}
        <span class="text-danger">{{email_error}}</span>
        <input name="email" type="email" class="form-control is-invalid mb-2" required placeholder="Correo">
        {% else%}
        <input name="email" type="email" class="form-control mb-2" required placeholder="Correo">
        {% endif %}
        <input name="password" type="password" class="form-control mb-2" required minlength="6"
            placeholder="Contraseña">
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Registrar Restaurante</button>
        </div>
        <a href="/user/logup">
            <span class="float-end text-dark text-mute">Para usuarios</span>
        </a>
        <br>
        <a href="/restaurant/login">
            <span class="float-end text-dark text-mute">Inicia Sesión</span>
        </a>

    </form>
</div>
{%endblock%}