<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Telemenú</a>
            <div class="d-flex">
                {% if 'user' in session %}
                <a class="me-2" href="/orders">Mis Ordenes</a>
                <a href="/logout">Cerrar Sesión</a>
                {% elif 'restaurant' in session %}
                <a class="me-2" href="/menus">Mis Menus</a>
                <a href="/logout">Cerrar Sesión</a>
                {% else %}
                <a class="me-2" href="/user/login">Iniciar Sesión</a>
                <a href="/user/logup">Registrarse</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>