{% extends "base.html" %}
{% include "header.html" %}
{% block body %}
{% if restaurants %}
{%for restaurant in restaurants%}
<h3> {{restaurant.name}}</h3>
<div class="container mb-4 pb-4">
    {% if restaurant.menus %}
    <div class="row row-cols-1 row-cols-md-3 g-1">

        {% for menu in restaurant.menus %}
        <div class="col m-0 my-1">
            <div class="card text-dark">
                <img src={{menu.photo_url}} alt={{menu.composition}} class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        Precio:
                        {{ menu.price }}
                        <span role="img" aria-label="Dinero">
                            💸
                        </span>
                    </h5>
                    <p class="card-text">
                        {{ menu.composition }}
                    </p>
                    </span>
                    <span class="font-italic text-muted">
                        <small>
                            Valido hasta: {{ menu.valid_date|format_date }}
                        </small>
                    </span>
                    {% if 'user' in session %}
                    <a type="button" class="btn btn-sm w-50 mx-auto my-2 btn-info" href="/orders/create/{{menu._id}}">
                        <span class="text-white">
                            Ordenar
                        </span>
                        <span role="img" aria-label="Carrito">
                            🛒
                        </span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <h4>Todavía no tenemos menus</h4>
    {% endif %}
</div>
{% endfor %}
{% else %}
<div class="text-center">
    <h1>Todavía no hay restaurantes</h1>
</div>
{% endif %}
{% endblock %}